* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
#dangNhap,
#myNunber,
#myForm,
#thongBao,
#myTable {
  margin: 20px 0;
}
#dangNhap span {
  height: 30px;
  color: red;
  margin: 10px;
}
#myNumber span {
  height: 30px;
  color: blue;
  margin: 10px;
}

#myTable table {
  border-collapse: collapse;
}
#myTable table tr th {
  border: 1px solid silver;
  padding: 8px 20px;
}
#myTable table tr td {
  border: 1px solid silver;
  padding: 5px 20px;
}
